<form action='{{ path('answer_editStatus', {id: answer.id }) }}' method="POST">
  <fieldset>
    <input type="hidden" name="_method" value="PATCH">
      {% if answer.isActive %}
        <button type="submit" class="btn btn-info"><i class="fas fa-eye-slash"></i>&nbsp;Désactiver cette réponse</button>
      {% else %}
        <button type="submit" class="btn btn-warning"><i class="fas fa-eye"></i>&nbsp;Activer cette réponse</button>
      {% endif %}
  </fieldset>
</form>