<form action='{{ path('answer_editValidation', {id: answer.id }) }}' method="POST">
  <fieldset>
    <input type="hidden" name="_method" value="PATCH">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="validationSwitch{{ answer.id }}" {% if answer.isValid %}checked=""{% endif %}>
      <label class="custom-control-label" for="validationSwitch{{ answer.id }}">Validation de la réponse</label>
    </div>
    <button type="submit" class="btn btn-primary">Soumettre</button>
  </fieldset>
</form>