<form action='{{ path('question_editVote', {id: question.id }) }}' method="POST">
  <fieldset>
    <input type="hidden" name="_method" value="PATCH">
      {% if not app.user.voteForQuestions == true %}
        <button type="submit" class="btn btn-primary"><i class="fas fa-person-booth"></i>&nbsp;Donner son vote à cette question</button>
      {% else %}
        <button type="submit" class="btn btn-primary"><i class="fas fa-crosshairs"></i>&nbsp;Retirer son vote à cette question</button>
      {% endif %}
  </fieldset>
</form>