{% extends 'base_with_sidebar.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block sidebar %}
    {% include 'question/_sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h2 class="h2">Les dernières questions de nos utilisateurs</h2>
    <div id="accordion">
        {% for question in questions %}
            {% include 'question/_accordion.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
