.tag-image {
    width: 30px;
    height: 30px;
    border-radius:25%
}

.avatar-image {
    width: 20px;
    height: 20px;
    border-radius:100%
}

.big-avatar-image {
    width: 100px;
    height: 100px;
    border-radius:100%;
}

a.active {
    background-color: grey;
    color: white;
    text-decoration: underline;
    border-radius:25%
}