{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-2" id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div class="col-10" id="main-content">
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}